<div class="row">
    <div class="col-md-9">
        <table class='table'>
            <tr ng-repeat='q in vm.questions'>
                <td style='text-align: center'>
                    <div>
                        <h4>{{q.votes}}</h4>
                        <h6>votes</h6>
                    </div>
                <td style='text-align: center'>
                    <div>
                        <h4>{{q.comments.length}}</h4>
                        <h6>answers</h6>
                    </div>
                </td>
                    <td style='text-align: center'>
                        <div>
                            <h4>5</h4>
                            <h6>views</h6>
                        </div>
                    </td>
                </td>
                <td>
                    <a href="/question/{{q._id}}"><h4>{{q.title}}</h4></a>
                    {{q.question}}

                </td>
                <td style='text-align: right'>
                    <h6>{{q.timeCreate | timeAgo:'MM/dd/yy'}} <a href="#">{{q.name}}</a></h6>
                </td>

            </tr>
        </table>
    </div>
    <div class="col-md-3" id='featured'>
        <h6>FEATURED ON META</h6>
        <div class="col-md-2" >
            <p id='pic'>
                <i class="fa fa-square-o" aria-hidden="true"></i>
            </p>
        </div>
        <div class="col-md-10">
            <a href="http://meta.stackexchange.com/questions/284996/we-have-updated-jquery-to-1-12-4-please-report-related-bugs-here?cb=1"><p>
                We have updated jQuery to 1.12.4- please report related bugs here
            </p></a>
        </div>
        <div class="col-md-2">
            <p id='pic'>
                <i class="fa fa-stack-overflow" aria-hidden="true"></i>
            </p>
        </div>
        <div class="col-md-10">
            <a href="http://meta.stackoverflow.com/questions/334404/documentation-update-september-12th?cb=1"><p>
                Documentation Update, September 12th
            </p></a>
        </div>
        <div class="col-md-2">
            <p>
                <i class="fa fa-stack-overflow" aria-hidden="true"></i>
            </p>
        </div>
        <div class="col-md-10">
            <a href="http://meta.stackoverflow.com/questions/334551/documentation-reputation-update-is-live?cb=1"><p>
                Documentation Reputation Update Is Live
            </p></a>
        </div>
        <h6>HOT META POSTS</h6>
        <div class="col-md-2">
            <p class='meta'>
                37
            </p>
        </div>
        <div class="col-md-10">
            <a href="http://meta.stackoverflow.com/questions/335327/can-we-stop-title-edits-to-this-php-canonical-question?cb=1"><p>
                Can we stop title edits to this PHP canonical question?
            </p></a>
        </div>
        <div class="col-md-2">
            <p class='meta'>
                36
            </p>
        </div>
        <div class="col-md-10">
            <a href="http://meta.stackoverflow.com/questions/335386/how-should-i-introduce-my-students-to-stack-overflow?cb=1"><p>
                How should I introduce my students to Stack Overflow?
            </p></a>
        </div>
    </div>
    <div class="col-md-3" id='info'>
        <h4>Hot Network Questions</h4>
        <div>
            <p>
                The biggest artificial cloud ever made
            </p>
        </div>
        <div>
            <p>
                Was Gandalf :meant to confront the Balrog?
            </p>
        </div>
    </div>


</div>
